{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Privacy Policy</title>
    <!-- Updated Termly embed script (2023 Version) -->
    <script type="text/javascript" src="https://app.termly.io/resource-blocker/16b49ecf-0dc7-4f4b-8c46-b7d97d282429?autoBlock=on"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-4">Privacy Policy</h1>
                
                <!-- Termly Privacy Policy document embed -->
                <div 
                    id="termly-embed"
                    data-id="8459493"
                    data-type="iframe">
                </div>
                
                <!-- Alternative: If the iframe doesn't load, provide a link -->
                <p class="mt-3">
                    <small>If the privacy policy doesn't load, you can view it 
                    <a href="https://app.termly.io/document/privacy-policy/8459493" target="_blank">here</a>.</small>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
